*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
  
body {
    display:flex;
    justify-content: center;
    height: 100vh;
    background-color: #f2f2f2;
}

h2{
    padding-left: 20px;
    margin-bottom: 20px;
    color: #333;
    text-align: left;
}

p{
    color: #333;
    text-align: left;
    
}

.category{
    display:flex;
    flex-direction: column;
    padding: 25px;
}

ul{
    width:10%; 
    float:left;
}

.heading{
    text-decoration: none;
}

.container{
    width: fit-content;
    height:fit-content;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 10px; 
}

.product{
    width: 100%;
    max-width: 235.7px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
    margin:5px;
}

.product:hover{
    transform: scale(1.05);
}
